.burger-menu {
    position: relative;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 3px 0;
    }
  
    &.open {
      .bar {
        background-color: #fff;
      }
    }
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  
    li {
      margin-right: 20px;
    }
  
    &.open {
      display: flex;
      flex-direction: column;
  
      li {
        margin: 10px 0;
      }
    }
  }