$bgc-color-primary: #1D2532;
$text-color-light: #FFFFFF;
$study-card: #333E51;


.sectionStudy__wrapper {
    background-color: $text-color-light;
    padding: 160px 0 0 0;
}

.sectionStudy {
    background-color: $bgc-color-primary;
    border-radius: 20px;
    padding: 50px 0 150px 0;
    position: relative;
}

.study__ball_pink {
    width: 151.89px;
    height: 151.89px;
    border-radius: 80px;
    transform: rotate(328deg);
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
    border-image-source: radial-gradient(91.49% 91.49% at 51.06% 8.51%, rgba(226, 193, 255, 0.53) 0%, rgba(133, 61, 242, 0.55) 100%);
    position: absolute;
    right: 155px;
    top: -100px;
}

.study__ball_blue {
    width: 84px;
    height: 84px;
    border: 1px solid;
    background: radial-gradient(63.25% 73.53% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%),
                radial-gradient(77.5% 77.5% at 20.9% 14.08%, #5EFFDF 0%, rgba(7, 119, 241, 0.41) 100%);
    border-image-source: radial-gradient(77.5% 77.5% at 20.9% 14.08%, #5EFFDF 0%, rgba(7, 119, 241, 0.41) 100%);
    position: absolute;
    border-radius: 52px;
    left: 179px;
}

.study_elipse {
    position: absolute;
    right: -2px;
    top: -164px;
    width: 500px;
}

.study_elipse_2 {
    position: absolute;
    top: 465px;
    left: -1px;
    width: 499px;
}

.study_elipse_3 {
    position: absolute;
    right: 112px;
    bottom: 96px;
}
  

.study__subtitle {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.study__card__wrapper {
    width: 650px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 55px;
}

.study__card {
    width: 260px;
    height: 268px;
    border-radius: 20px;
    background-color: #2b3545;
    position: absolute;
    transform: translate(20px, -245px);
}

.study__card_slise2 {
    height: 310px;
    border-radius: 20px;
    background-color: $study-card;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card__smile {
    width: 115px;
}

.card__text {
    align-items: center;
    text-align: center;
    width: 262px;
}